---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

---


<Layout title="Gracias">
  
  <Navbar />
  <section class="pt-32 flex items-center">
  <div class="mx-auto prose prose-lg prose-invert "> 
    <h1>Gracias por suscribirte!</h1>
    <p>Solo queda un paso más</p>

    <h3>Revisa tu correo y confirma tu suscripcción</h3> 

    <smal>Si no ves un correo luego de algunos minutos, revisa el buzón de spam.</small>
  </div>
    </section>
</Layout>
