
  <section
    class="w-full bg-gradient-to-b from-revolver-500 to-revolver-700 py-12 px-4"
  >
    <div class="prose prose-lg mx-auto text-customGrayText">
      <img
        src="https://res.cloudinary.com/matiasfha/image/fetch/f_auto,q_auto,w_200/r_max/https://matiashernandez.dev/me-optimized.png"
        alt="me"
        class="mx-auto"
      />
      <p>
        ¡Hola! Soy Matías, un desarrollador web de Chile con una pasión por la
        enseñanza.
      </p>

      <p>
        Me encanta trabajar con tecnologías web modernas, y Typescript es una de mis
        herramientas favoritas en el kit de desarrollo. Me apasiona la idea de
        enseñar a otros cómo usar Typescript para crear aplicaciones
        sorprendentes y útiles.
      </p>

      <p>
        Como instructor, creo firmemente que programar debería ser divertido y
        accesible a todos. Mis cursos están diseñados para ayudar a los
        estudiantes a aprender conceptos difíciles de manera accesible y sin
        jergas confusas. Quiero que todos los estudiantes de mi curso sientan
        que tienen éxito y ganen las habilidades necesarias para construir
        aplicaciones web increíbles.
      </p>

      <p>
        Cuando no estoy codeando, me podrás
        encontrar jugando con mis hij@s, tocando bateria o guitarra o entrenando para calistenia o karate.
      </p>

      <p>
        Nunca dudes en contactarme si necesitas ayuda con cualquier cosa. Estoy
        feliz de ayudar siempre que pueda.
      </p>
      <a href="https://www.buymeacoffee.com/matiasfha"><img src="https://img.buymeacoffee.com/button-api/?text=Invítame un café&emoji=&slug=matiasfha&button_colour=BD5FFF&font_colour=ffffff&font_family=Poppins&outline_colour=000000&coffee_colour=FFDD00" /></a>
    </div>
  </section>
