<section class="w-full bg-gradient-to-b from-revolver-800 to-revolver-600 px-4">
  <div class="prose prose-lg mx-auto text-customGrayText py-16 prose-invert">
    <p>
      En este curso, te llevaremos en un viaje desde los fundamentos de
      Typescript hasta su aplicación en el mundo real. Aprenderás cómo mejorar
      la calidad de tus desarrollos, ahorrar tiempo en la detección de errores
      utilizando el tipado de variables, la prevención de errores en tiempo de
      ejecución y la mejora de la escalabilidad y legibilidad del código.
    </p>
    <p>
      A lo largo del curso, analizaremos muchas herramientas de Typescript, así
      como también seguirás ejemplos prácticos para usarlas de manera efectiva
      en proyectos del mundo real.
    </p>

    <h2>¿Por qué debería tomar este curso?</h2>
    <ul>
      <li>
        Aprenderás los conceptos fundamentales de tipado, prevención de
        errores y escalabilidad en Typescript.
      </li>
      <li>
        Descubrirás cómo implementar conceptos de programación orientada a
        objetos en Typescript.
      </li>
      <li>Aprenderás cómo usar Typescript en proyectos del mundo real.</li>
      <li>Obtendrás una ventaja competitiva en el mercado laboral.</li>
    </ul>

    <h2>Para ¿quiénes es este curso?</h2>
    <ul>
    <li>
      Desarrolladores frontend y backend que quieran aprender los conceptos
      fundamentales de Typescript.
    </li>
    <li>
      Estudiantes y programadores que buscan mejorar sus habilidades en el
      desarrollo de software.
    </li>
    <li>
      Cualquier persona interesada en la optimización de la calidad y
      escalabilidad del código.
    </li>
      </ul>
  </div>
</section>
