---
import featuresdiagonal from "../assets/images/featuresdiagonal.jpg";
---

<section
  class="lg:mb-16 w-full flex flex-col justify-center items-center bg-revolver-700"
>
  <div class="custom-shape-divider-bottom-1665696614">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
      class="bg-revolver-800"
    >
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="bg-revolver-700"
      ></path>
    </svg>
  </div>
  <div>
    <div
      class="2xl:w-[1150px] xl:w-[1050px] md:w-4/5 flex justify-center bg-revolver-700 pt-12 lg:pt-24 pb-8 lg:pb-20 mx-auto lg:flex-row flex-col"
    >
      <div class="w-3/4 lg:w-1/2 flex flex-col lg:mx-unset mx-auto">
        <span class="custom-block-subtitle"> Mejora tus conocimientos</span>
        <h2 class="mt-10 mb-8 text-4xl lg:text-5xl custom-block-big-title">
          Acelera tu progreso
        </h2>
        <p class="mb-16 text-customGrayText leading-loose">
          Aprende a utilizar Typescript y mejora tus habilidades como
          desarrollador. En este curso, exploramos desde los conceptos básicos
          de tipado hasta su aplicación en el mundo real. Obtén una ventaja
          competitiva en el mercado laboral y acelera tu progreso como
          programador.
        </p>

        <div class="w-[210px] h-12 custom-button-colored mr-10">
          Comienza ya!
        </div>
      </div>
      <div
        class="w-4/5 lg:w-1/2 lg:pl-16 flex justify-center mx-auto pt-16 lg:pt-0"
      >
        <img
          src={featuresdiagonal}
          alt="f1"
          class="rounded-xl custom-border-gray"
        />
      </div>
    </div>
  </div>
  <div class="custom-shape-divider-top-1665696661 w-full">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
      class="custom-bg-dark2"
    >
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="custom-bg-dark1"
      ></path>
    </svg>
  </div>
</section>
