---
import { CheckArrowIcon } from "../assets/icons/CheckArrowIcon";
---
  <section
    class="w-full py-12 pt-[2rem]  md:pt-[12vw] lg:pt-0 bg-gradient-to-b from-revolver-600 to-revolver-900"
    id="features"
  >
    <div
    >
      <div class="flex flex-wrap items-center 2xl:w-[1450px] xl:w-[1300px] w-11/12 mx-auto md:pl-4 xl:pr-16 xl:pl-16">
        <div class="w-full lg:w-1/2 mb-12 lg:mb-0">
          <div class="mx-auto lg:mx-auto w-11/12 sm:w-4/5 md:w-3/4 lg:w-unset">
            <span class="custom-block-subtitle">
              ¿Por qué utilizar Typescript?
            </span>
            <h2 class="mt-6 mb-8 text-4xl lg:text-5xl custom-block-big-title">
              Aumenta tu productividad como desarrollador
            </h2>
            <p class="mb-10 text-customGrayText leading-loose">
              Typescript es un superconjunto tipado de JavaScript que aumenta
              la calidad de tus desarrollos y ahorra tiempo en la detección de
              errores.
            </p>
            <ul class="mb-6 text-white">
              <li class="mb-4 flex">
                <CheckArrowIcon />
                <span>Tipado de variables y parámetros de funciones</span>
              </li>
              <li class="mb-4 flex">
                <CheckArrowIcon />
                <span>Menos errores en tiempo de ejecución</span>
              </li>
              <li class="mb-4 flex">
                <CheckArrowIcon />
                <span>Mejora la escalabilidad y legibilidad del código</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-3/4 mx-auto lg:w-1/2 flex flex-wrap lg:-mx-4 sm:pr-8 lg:pt-10 justify-center lg:pl-4 xl:px-8">
          <div class="mb-8 lg:mb-0 w-full sm:w-1/2 px-2 lg:px-0">
            <div class="mb-4 py-3 pl-3 pr-2 rounded">
              <img
                src="https://res.cloudinary.com/matiasfha/image/upload/e_shadow:40,f_auto,q_auto,r_30/v1682699110/feature1.png"
                alt="f1"
                class="rounded-xl  custom-border-gray mx-auto sm:mx-unset"
              />
            </div>
            <div class="py-3 pl-3 pr-2 rounded ">
              <img
                src="https://res.cloudinary.com/matiasfha/image/upload/e_shadow:40,f_auto,q_auto,r_30/v1682699110/feature1_3.png"
                alt="f4"
                class="rounded-xl  custom-border-gray"
              />
            </div>
          </div>
          <div class="w-1/2 lg:mt-20  pt-12 lg:pt-0 px-2 hidden sm:inline-block">
            <div class="mb-4 py-3 pl-3 pr-2 rounded-lg ">
              <img
                src="https://res.cloudinary.com/matiasfha/image/upload/e_shadow:40,f_auto,q_auto,r_30/v1682699110/feature1_2.png"
                alt="f3"
                class="rounded-xl  custom-border-gray"
              />
            </div>
            <div class="py-3 pl-3 pr-2 rounded-lg ">
              <img
                src="https://res.cloudinary.com/matiasfha/image/upload/e_shadow:40,f_auto,q_auto,r_30/v1682699110/feature1_1.png"
                alt="f2"
                class="rounded-xl  custom-border-gray mx-auto sm:mx-unset"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
