---
import Form from "./Form.astro";

---

<section
  class="w-screen flex justify-center items-center bg-revolver-800"
  id="home"
>
  <div
    class="w-full md:w-[800px] xl:w-[900px] flex flex-col justify-center items-center pt-16 md:pt-16 lg:pt-20 text-center"
  >
    <div>
      <div
        class="text-customSecondary text-sm sm:text-base mb-6 sm:mt-32 mt-16 font-bold"
      >
        ¡Bienvenido al curso!
      </div>
    </div>
    <div>
      <div
        class="text-5xl sm:text-6xl lg:text-7xl xl:text-7xl font-bold tracking-wide text-white px-8 sm:px-8 md:px-20 lg:px-4"
      >
        Fundamentos de <span
          class="text-transparent bg-gradient-to-r from-fuchsia-300 via-revolver-100 to-blue-700 bg-clip-text"
          >Typescript</span
        >
      </div>
    </div>
    <div>
      <div
        class="text-customGrayText text-sm lg:text-base xl:text-lg sm:text-base mt-10 px-12 sm:px-48"
      >
        Aprende a utilizar uno de los lenguajes de programación de mayor
        crecimiento en la comunidad de desarrollo en la actualidad. Con nuestro
        curso, aprenderás los fundamentos de Typescript, desde los conceptos
        básicos de tipado hasta su uso en el mundo real. Explora cómo Typescript
        ofrece una ventaja competitiva en el mercado laboral y acelera tu
        progreso como programador.
      </div>
    </div>
    <Form />
    <div>
      <div
        class="text-customGrayText text-sm lg:text-base xl:text-lg sm:text-base mb-20 px-12 sm:px-48 flex flex-row items-center gap-8"
      >
        <img
          src="https://res.cloudinary.com/matiasfha/image/fetch/f_auto,q_auto,w_100/r_max/https://matiashernandez.dev/me-optimized.png"
          alt="me"
          class="u-photo"
        />
        <span
          >Escrito y diseñado por <a
            href="https://matiashernandez.dev"
            class="p-note"
          >
            Matias Hernández</a
          ></span
        >
      </div>
    </div>
  </div>
</section>
