---
import { GithubIcon } from "../assets/icons/GithubIcon";
---

<nav
  class="w-full h-20 flex flex-col justify-center items-center fixed bg-revolver-800  z-40 lg:backdrop-blur-xl"
>
  <div
    class="2xl:w-[1280px] xl:w-10/12 w-11/12 flex justify-between items-center relative"
  >
    <div>
      <a class="navbar-link" href="#home" aria-label="Home">
        <div class="flex justify-start items-center grow basis-0">
          <div class="text-white mr-2 text-6xl">
            <img
              src="https://res.cloudinary.com/matiasfha/image/upload/w_40,c_fill,ar_1:1,f_auto,q_auto,g_auto,r_max/v1682697818/ts-mascot.png"
              alt="logo"
            />
          </div>
          <div class="text-white font-['Inter'] font-bold text-xl">
            Fundamentos de Typescript
          </div>
        </div>
      </a>
    </div>
    <div>
      <div class="grow basis-0 justify-end hidden lg:flex">
        <a
          class="text-white custom-border-gray rounded-xl bg-customDarkBg2 hover:bg-customDarkBg3 border-gray-700 pl-6 pr-8 pt-2 pb-2 text-sm flex"
          href="https://github.com/matiasfha/ts-fundamentals"
          target="_blank"
          aria-label="source code"
        >
          <GithubIcon />
          <span class="pt-px">Source code</span>
        </a>
      </div>
    </div>
    <div
      class="lg:hidden flex flex-col px-2 py-3 border-solid border border-gray-600 rounded-md cursor-pointer hover:bg-customDarkBg2"
    >
      <div class="w-5 h-0.5 bg-gray-500 mb-1"></div>
      <div class="w-5 h-0.5 bg-gray-500 mb-1"></div>
      <div class="w-5 h-0.5 bg-gray-500"></div>
    </div>
  </div>
</nav>
